@import "tailwindcss";

:root {
    --primary-color: #014921;
    --secondary-color: #56B680;
    --tertiary-color: #FF8E8E;
    --accesnt-color: #F5A623;
    --black-color: #2D2D2D;
}

* {
    button {
        @apply cursor-pointer;
    }

    h1,
    h4 {
        @apply font-bold;
    }

}

/* Smooth scroll behavior dengan offset untuk section links */
html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 10vh;
}

@layer components {

    /* declare background color variables */
    .bg-primary {
        background-color: var(--primary-color);
    }

    .bg-primary::after,
    .bg-primary:after {
        background-color: var(--primary-color);
    }

    .bg-secondary {
        background-color: var(--secondary-color);
    }

    .bg-secondary::after,
    .bg-secondary:after {
        background-color: var(--secondary-color);
    }

    .bg-tertiary {
        background-color: var(--tertiary-color);
    }

    .bg-tertiary::after,
    .bg-tertiary:after {
        background-color: var(--tertiary-color);
    }

    .bg-accent,
    .bg-accent::after {
        @apply bg-(--accesnt-color);
    }

    /* declare text color variables */

    .text-primary {
        @apply text-(--primary-color);
    }

    .text-secondary {
        @apply text-(--secondary-color);
    }

    .text-tertiary {
        @apply text-(--tertiary-color);
    }

    .text-accent {
        @apply text-(--accesnt-color);
    }

    .text-black {
        @apply text-(--black-color);
    }

    /* declare border color variables */

    .border-primary {
        @apply border-(--primary-color);
    }

    .border-secondary {
        @apply border-(--secondary-color);
    }

    .border--tertiary {
        @apply border-(--tertiary-color);
    }

    .border--accent {
        @apply border-(--accesnt-color);
    }

}