@import "tailwindcss";


:root {
    --primary-color: #014921;
    --primary-light-color: #E8F5EE;
    --secondary-color: #56B680;
    --tertiary-color: #BFEC43;
    --accesnt-color: #F5A623;
    --black-color: #2D2D2D;
    --danger-color: #FF3B30;
    --major-tkr-color: #FF0000;
    --major-dkv-color: #0000FF;
    --major-titl-color: #4D4FA4;
    --major-tp-color: #5DB1F5;
}

@layer components {

    /* declare background color variables */
    .bg-primary {
        background-color: var(--primary-color);
    }

    .fill-primary {
        fill: var(--primary-color);
    }

    .bg-danger {
        background-color: var(--danger-color);
    }

    .bg-primary::after,
    .bg-primary:after {
        background-color: var(--primary-color);
    }

    .bg-primary-light {
        background-color: var(--primary-light-color);
    }

    .bg-primary-light::after,
    .bg-primary-light:after {
        background-color: var(--primary-light-color);
    }

    .bg-secondary {
        background-color: var(--secondary-color);
    }

    .bg-secondary::after,
    .bg-secondary:after {
        background-color: var(--secondary-color);
    }

    .bg-tertiary {
        background-color: var(--tertiary-color);
    }

    .bg-tertiary::after,
    .bg-tertiary:after {
        background-color: var(--tertiary-color);
    }

    .bg-accent,
    .bg-accent::after {
        @apply bg-(--accent-color);
    }

    /* declare text color variables */

    .text-primary {
        @apply text-(--primary-color);
    }

    .text-danger {
        @apply text-(--danger-color);
    }

    .text-secondary {
        @apply text-(--secondary-color);
    }

    .text-tertiary {
        @apply text-(--tertiary-color);
    }

    .text-accent {
        @apply text-(--accesnt-color);
    }

    .text-black {
        @apply text-(--black-color);
    }

    /* declare border color variables */

    .border-primary {
        @apply border-(--primary-color);
    }

    .border-primary-light {
        @apply border-(--primary-light-color);
    }

    .border-primary {
        @apply border-(--primary-color);
    }

    .border-secondary {
        @apply border-(--secondary-color);
    }

    .border--tertiary {
        @apply border-(--tertiary-color);
    }

    .border--accent {
        @apply border-(--accesnt-color);
    }

    .border--danger {
        @apply border-(--danger-color);
    }

    /* declare major color variables */

    .bg-major-tkr {
        background-color: var(--major-tkr-color);
    }

    .text-major-tkr {
        color: var(--major-tkr-color);
    }

    .border-major-tkr {
        border-color: var(--major-tkr-color);
    }

    .bg-major-dkv {
        background-color: var(--major-dkv-color);
    }

    .text-major-dkv {
        color: var(--major-dkv-color);
    }

    .border-major-dkv {
        border-color: var(--major-dkv-color);
    }

    .bg-major-titl {
        background-color: var(--major-titl-color);
    }

    .text-major-titl {
        color: var(--major-titl-color);
    }

    .border-major-titl {
        border-color: var(--major-titl-color);
    }

    .bg-major-tp {
        background-color: var(--major-tp-color);
    }

    .text-major-tp {
        color: var(--major-tp-color);
    }

    .border-major-tp {
        border-color: var(--major-tp-color);
    }

}



* {
    button {
        @apply cursor-pointer;
    }

    button:disabled {
        @apply cursor-not-allowed opacity-50;
    }

    h1,
    h4 {
        @apply font-bold;
    }

    input:checked,
    input:checked:hover,
    input[type="radio"]:checked:hover,
    input[type="checkbox"]:checked:hover {
        @apply accent-(--primary-color);
    }


}

/* Smooth scroll behavior dengan offset untuk section links */
html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 10vh;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}


::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
    background-color: #cbcbcb;

}

::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border-radius: 3px;
}

/* Remove number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

/* Chrome, Edge, Safari */
.thin-scrollbar::-webkit-scrollbar {
    height: 6px;
    /* horizontal */
    width: 6px;
    /* vertical */
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.35);
}

/* Firefox */
.thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}