@import "tailwindcss";


:root {
    --primary-color: #014921;
    --primary-light-color: #E8F5EE;
    --secondary-color: #56B680;
    --tertiary-color: #BFEC43;
    --accesnt-color: #F5A623;
    --black-color: #2D2D2D;
    --danger-color: #FF3B30;
}

* {
    button {
        @apply cursor-pointer;
    }

    button:disabled {
        @apply cursor-not-allowed opacity-50;
    }

    h1,
    h4 {
        @apply font-bold;
    }

    input:checked,
    input:checked:hover,
    input[type="radio"]:checked:hover,
    input[type="checkbox"]:checked:hover {
        @apply accent-(--primary-color);
    }


}

/* Smooth scroll behavior dengan offset untuk section links */
html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 10vh;
}

@layer components {

    /* declare background color variables */
    .bg-primary {
        background-color: var(--primary-color);
    }

    .bg-primary::after,
    .bg-primary:after {
        background-color: var(--primary-color);
    }

    .bg-primary-light {
        background-color: var(--primary-light-color);
    }

    .bg-primary-light::after,
    .bg-primary-light:after {
        background-color: var(--primary-light-color);
    }

    .bg-secondary {
        background-color: var(--secondary-color);
    }

    .bg-secondary::after,
    .bg-secondary:after {
        background-color: var(--secondary-color);
    }

    .bg-tertiary {
        background-color: var(--tertiary-color);
    }

    .bg-tertiary::after,
    .bg-tertiary:after {
        background-color: var(--tertiary-color);
    }

    .bg-accent,
    .bg-accent::after {
        @apply bg-(--accent-color);
    }

    /* declare text color variables */

    .text-primary {
        @apply text-(--primary-color);
    }

    .text-danger {
        @apply text-(--danger-color);
    }

    .text-secondary {
        @apply text-(--secondary-color);
    }

    .text-tertiary {
        @apply text-(--tertiary-color);
    }

    .text-accent {
        @apply text-(--accesnt-color);
    }

    .text-black {
        @apply text-(--black-color);
    }

    /* declare border color variables */

    .border-primary {
        @apply border-(--primary-color);
    }

    .border-primary-light {
        @apply border-(--primary-light-color);
    }

    .border-primary {
        @apply border-(--primary-color);
    }

    .border-secondary {
        @apply border-(--secondary-color);
    }

    .border--tertiary {
        @apply border-(--tertiary-color);
    }

    .border--accent {
        @apply border-(--accesnt-color);
    }

    .border--danger {
        @apply border-(--danger-color);
    }

}